[submodule "emp-doc"]
	path = emp-doc
	url = https://github.com/GroundhogLighting/emp-doc.git
[submodule "3rdparty/Lua"]
	path = 3rdparty/Lua
	url = https://github.com/lua/lua.git
[submodule "emp_core"]
	path = emp_core
	url = https://github.com/GroundhogLighting/emp_core.git
